p {
	color: red;
}

table.image {
	position: center;
	height: 100px;
	width: 100px;
	max-width: 100px;
	max-height: 100px;
}

h1 {
  background-color: #7cb6cf;
  /*margin: 0;*/
  padding: 0px 0px;
}

body {
  background-color: white;
  margin: 0;
  padding: 0px 0px;
}
td {
	text-align: center;
}
.youtubeVideo {
	height:auto;
	width: auto;
	
}
/* Table Styling */

table {
  
  left: 10%;
  margin: 20px auto;
  overflow-y: scroll;
  position: static;
  width: 90%;
}
table td, table th {
 border: 1px solid black;
}
table tr:first-child th {
  border-top: 1px solid black;
}
table tr:last-child td {
  border-bottom: 1px solid black;
}
table tr td:first-child,
table tr th:first-child {
  border-left: 1px solid black;
}
table tr td:last-child,
table tr th:last-child {
  border-right: 1px solid black;
}

td {
	
}
